# ============================================================
# Speech Enhancement Project — Requirements
# ============================================================

# Deep Learning Framework
torch
torchaudio

# Audio Processing
soundfile
librosa

# Numerical Computing
numpy

# Config & Logging
PyYAML
tensorboard





#python inference.py --model experiments/WaveUnet/best_model_w.pt --input data/noisy_trainset_28spk_wav/p226_007.wav

# python inference.py --model experiments/DCCRN/best_model_e.pt --input data/noisy_trainset_28spk_wav/p226_007.wav

